<div class="password-generator">
  <h1>Password Generator</h1>
  <input class="generated-password" style="height: fit-content;" [(ngModel)]="password" />

  <div class="slider-container">
    <p-slider
      [(ngModel)]="digitsValue"
      [min]="0"
      [max]="100"
      [style]="{ width: '200px' }"
      (onChange)="randomPassword(digitsValue)"
    ></p-slider>
    <p-input-number inputStyleClass="xx" (onChange)="randomPassword(digitsValue)" [(ngModel)]="digitsValue" type="number" [maxlength]="2" [min]="0" [max]="20"  />
  </div>

  <div class="button-container">
    <p-button (click)="randomPassword(digitsValue)">Generate</p-button>
    <p-button (click)="copyThePassword()">Copy</p-button>
  </div>
</div>
