<div class="password-generator">
  <div class="left-container">
    <h1>Strong. Secure. Awesome. Try our random password generator.</h1>
    <span>A powerful generator for powerful passwords to protect your online accounts.</span>
  </div>

  <div class="right-container">
  <input [readOnly]="true" class="generated-password" style="height: fit-content;" [(ngModel)]="password" />

  <div class="slider-container">
    <p-slider
      [(ngModel)]="digitsValue"
      [min]="8"
      [max]="100"
      [style]="{ width: '200px' }"
      (onChange)="checkForLimits(digitsValue)"

    ></p-slider>
    <p-input-number inputStyleClass="xx" (onChange)="randomPassword(digitsValue)" [(ngModel)]="digitsValue" type="number" [maxlength]="2" [min]="0" [max]="20"  />
  </div>

  <div class="button-container">
    <p-button (click)="randomPassword(digitsValue)">Generate</p-button>
    <p-button (click)="copyThePassword()">Copy</p-button>
  </div>
</div>
</div>
