.password-generator {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 16px;

}

.left-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

.right-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

.password-generator input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.generated-password {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

.slider-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.xx {
    width: 10% !important;
}

.button-container {
    display: flex;
    gap: 10px;
}